:root {
    --main-bg: #1b1a1d;
    --secondary-bg: #504d66;
    --text-color: #fdfff0;
}

body {
    margin: 0in;
    background-color: var(--main-bg);
}

.aboutpage {
    background-color: var(--main-bg);
    height: 100%;
}

.mainheader {
    font-family: "Calibri", sans-serif;
    color: var(--text-color);
    background-color: var(--secondary-bg);
    display: grid;
    place-items: center;
}

h1 {
    font-size: 8vmin;
    background: linear-gradient(135deg, magenta, dodgerblue, magenta);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientPan 30s linear infinite;
}

/* surely i can just rip code from the main page and nothing will go wrong
surely that is the case */
@keyframes gradientPan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
/* well the keyframes didn't fail but basically everything else did */

h2 {
    font-size: 4vmin;
    margin: 10px;
}

.article {
    font-size: 3vmin;
    color: var(--text-color);
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
}

.paragraph {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Calibri", sans-serif;
}

.source-link {
    margin-left: 6vmin;
    margin-bottom: 6vmin;
    font-size: 2.4vmin;
}

.source-link a {
    color: #adc2fc;
    text-shadow: none;
}

.source-link a:hover {
    text-decoration: underline;
}

.return {
    position: fixed;
    font-size: 2.5vmin;
    font-family: "Calibri", sans-serif;
    margin: 3vmin;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-shadow: 0 0 1vmin var(--text-color);
    text-decoration: none;
}

.textvisuals {
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 3%;
    column-gap: 20%;
    /* margin-bottom: 28vmin; */
}

.textvisuals > .right {
    text-align: right;
}
