:root {
    --text-color: #fdfff0;
    --bg-color: #504d66;
    --input-bg: #302d56;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0rem;
    padding: 8vmin;
    display: grid;
    grid-template-rows: 78% 22%;
    row-gap: 3vmin;
    place-items: center;
    background-color: #1b1a1d;
}

p {
    color: var(--text-color);
    margin: 0px;
    /* width: fit-content; */
}

.corner {
    background: linear-gradient(135deg, magenta, mediumpurple, magenta);
    background-size: 200%;
    animation: pan 5s infinite linear;
}

@keyframes pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.timetable {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 7% 1fr;
}

.timetable,
.selector-box {
    background-color: var(--bg-color);
    /* box-shadow: 0px 0px 40px var(--bg-color); */
}

.header,
.columns {
    /* height: 7%; */
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(6, 1fr);
}

.header {
    background-color: #7d758e;
    border-bottom: 1px solid var(--text-color);
}

.times {
    background-color: #7d758e;
}

.day,
.classes {
    flex-grow: 1;
    display: grid;
    place-items: center;
    border-left: 1px solid var(--text-color);
    text-align: center;
}

.day:nth-child(1),
.classes:nth-child(1),
.classes > .rows:nth-child(6),
.times > .time-rows:nth-child(6) {
    border: none;
}

.classes,
.times {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rows,
.time-rows {
    width: 100%;
    display: grid;
    place-items: center;
    /* flex-grow: calc(100% / 6); */
    height: calc(100% / 6);
    /* text-wrap: wrap; */
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--text-color);
}

.selector-box {
    width: 30%;
    height: 100%;
    display: grid;
    place-items: center;
}

.selectors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 70%;
}

.dropdowns {
    width: 100%;
    display: flex;
    gap: 3px;
}

select,
#text,
#submit {
    /* width: 5rem; */
    border-radius: 4px;
    background-color: var(--input-bg);
    font-size: 1.7vmin;
    padding: 1.2vmin;
    border: none;
    color: var(--text-color);
    transition: background-color 200ms ease;
}

#text:hover,
select:hover,
#submit:hover {
    /* --input-bg: #302d56; */
    background-color: #35346a;
}

#text {
    width: 100%;
    /* padding: 1vmin; */
}

select {
    width: 50%;
}

#submit {
    background-color: #100d36;
    cursor: pointer;
}

select:focus,
input:focus,
#submit:focus {
    outline: 1px solid var(--text-color);
}
